<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3">
      <h1>The Online Resume Builder You Deserve.</h1>
      <p class="lead">Creating a Professional Resume and Cover Letter Has Never Been So Easy.</p>
      <p class="lead">Making a resume is the first step of any job search.</p>
      <p class="lead">Not sure how to make a resume?</p>
      <p class="lead">Our online resume builder gives you free resume templates to follow.. </p>
      <p class="lead">
        <a routerLink="blogs" class="btn btn-lg btn-secondary fw-bold border-white bg-danger">Learn more</a>
      </p>
      <img src="https://cdn.corporatefinanceinstitute.com/assets/professional-corporation-1024x683.jpeg" alt="Management Trainee">
    </main>
  </div>
