<br>
<br>
    <div class="row row-cols-1 row-cols-md-3 g-0" >
       <div class="col">
         
           <div class="card ">
           <div class="card-body">
             <h5 class="card-title">Total no. of Users</h5>
             <p class="card-text">100</p>
           </div>
         </div>
       </div>
       <br>
       
       <div class="row row-cols-1 row-cols-md-1 g-0">
           <div class="col">
             
               <div class="card ">
               <div class="card-body">
                 <h5 class="card-title">Total Resume generated</h5>
                 <p class="card-text">85</p>
               </div>
             </div>
           </div>
       
           
           
       <br> 
      
 
<div >
 <table class='table'> 
     <thead>
         
     </thead>
     <tbody> 

     </tbody>
   </table> 
</div>      
</div> 
<br>

<table class="table table-hover">
<thead>
 <tr>
   <th scope="col">SINo</th>
   <th scope="col">Name</th>
   <th scope="col">Phone</th>
   <th scope="col">Email</th>
 </tr>
</thead>
<tbody>
 <tr>
   <th scope="row">1</th>
   <td>Mark</td>
   <td>122222</td>
   <td>@mdo</td>
 </tr>
 <tr>
   <th scope="row">2</th>
   <td>Jacob</td>
   <td>455555</td>
   <td>@fat</td>
 </tr>
 <tr>
   <th scope="row">3</th>
   <td colspan="2">Larry the Bird</td>
   <td>@twitter</td>
 </tr>
</tbody>
</table>
